/*** Spatial Memories CSS Customizations ***/

#home-page h2{
    display: none;
}

#home-page .nav-icons{
    padding-top: 10em;
    margin: 0 auto;
    width: 20em;
}

.ui-content {
    /* Background colour for water theme */
    background-color : rgb(76, 112, 230) ;
}
