

/*** Spatial Memories CSS Customizations ***/

/* hack to hide home page footer and standard buttons see https://github.com/edina/fieldtrip-open/issues/13 and https://github.com/edina/fieldtrip-open/issues/12 */
#home-page .ui-footer,
#home-page h2,
#home-page .ui-block-a,
#home-page .ui-block-b,
#home-page .ui-block-c{
    display: none;
}

#gpscapture-page .ui-footer{
    display: block;
}

#gpscapture-page .ui-footer .ui-block-a,
#gpscapture-page .ui-footer .ui-block-b,
#gpscapture-page .ui-footer .ui-block-c{
    width: 0;
}

#gpscapture-page .ui-footer .ui-block-d,
#gpscapture-page .ui-footer .ui-block-e{
    width: 50%;
}

#home-page .nav-icons{
    padding-top: 10em;
    margin: 0 auto;
    width: 10em;
}

/* stretch body to bottom when there is no footer */
#annotate-page .ui-footer,
#annotate-gps-page .ui-footer,
#saved-records-page .ui-footer{
    height: 0;
    display: none;
}

.ui-content {
    /* Background colour for water theme */
    background-color : rgb(164, 164, 230) ;
}
