/*** Spatial Memories CSS Customizations ***/

/* Prevents the Open/Copy popup from appearing on long press on a link */
body {
    -webkit-touch-callout: none !important;
}

#home-page h2{
    display: none;
}

.ui-header h1 {
    width: 100%;
}

#home-button{
    width: 100%;
}


#home-page .nav-icons{
    padding-top: 10em;
    margin: 0 auto;
    width: 20em;
}

.ui-content {
    /* Background colour for water theme */
    /* background-color : rgb(76, 112, 230) ; */
}

.photo-button .ui-icon{
    background: url("images/image-footer.png") 50% 50% no-repeat;
    background-size: 30px 30px;
}

.audio-button .ui-icon{
    background: url("images/audio-footer.png") 50% 50% no-repeat;
    background-size: 30px 30px;
}

.text-button .ui-icon{
    background: url("images/text-footer.png") 50% 50% no-repeat;
    background-size: 30px 30px;
}

#gpscapture-records .ui-icon,
.records-button .ui-icon{
    background: url("images/records-header.png") 50% 50% no-repeat;
    background-size: 30px 30px;
}


#records-annotations, #records-tracks{
    width : inherit;
}

/* Text annotation styling */
.description {
    background-color: rgb(202, 233, 249);
    padding-right: 2px;
    padding-left: 2px;
}

/* Grid/List overides changes made by sync plugin */
#saved-records-page-header h2, #saved-records-page-header{
    background: none !important;
    color: black !important; 
    padding: 10px !important;
}

#saved-records-page-header > .ui-block-a {
    width: 50%;
}

#saved-records-page-header .ui-block-b{
    width: 60%;
}

#saved-tracks-records-page .ui-listview{
    padding-top: 10px;
    /* padding: 0; */
    /* margin: 0 !important; */
}

#saved-tracks-records-page .ui-listview ul{
    border: none;
}

#saved-tracks-records-page .ui-listview li{
    margin: 0 !important;
    border: none;
    border-bottom: #2c3f62 solid 1px;
}

#saved-tracks-records-page .ui-listview a,
    text-decoration: none;
}

#saved-tracks-records-page .ui-listview fieldset{
    padding: 0;
    margin: 0;
}

/* Reduce sync icon size in grid view */
li.active .saved-records-list-synced-false {
    background-size: 28px 27px;
}

#saved-tracks-records-page .ui-listview li.active {
    margin-top: 1%;
    border-bottom : none;
    padding: 2.5%;
}

/* Alter sync button width for grid view */
#saved-records-list .active .ui-block-a{
    /* width: 17%; */
    width: 0%;
}


#saved-records-list-list li.active div.ui-block-c {
    margin-right: 1%;
    /* display:none; */
}

#saved-records-list-list li.active div.ui-block-b {
    width : 63%;
}

/* For grid view float left */
#saved-tracks-records-page .ui-listview li.active {
    float : left;
    /* height: 150px; */
}

@media (min-width: 320px) {
    #saved-tracks-records-page .ui-listview li.active {
        width: 45% !important;
        /* width: 50% !important; */
    }
}

@media (min-width: 480px) {
    #saved-tracks-records-page .ui-listview li.active {
        width: 30% !important;
    }
}

@media (min-width: 768px ) {
    #saved-tracks-records-page .ui-listview li.active {
        /* width: 23% !important; */
        width: 20% !important;
    }
}

#saved-records-list{
    position: relative;
    /* overflow: auto; */
    margin: 0
}

#saved-records-list h3{
    line-height: 150%
}

/* sync icon */
#saved-records-list .ui-block-a{
    margin: 0;
    padding: 0;
    width: 15%;
    height: 3.4em;
}

/* record text */
#saved-records-list .ui-block-b{
    margin: 0;
    padding: 1em 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
}

#saved-records-list .ui-block-b a{
    font-size: 16px;
    font-weight: 900;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    text-decoration: none;
}


/* delete button - different width when active */
#saved-records-list .active .ui-block-c{
    width: 21%;
    float: right;
}
#saved-records-list .ui-block-c{
    width: 11%;
    float: right;
}


#settings-page h2,
#annotate-preview-page h2,
#saved-records-page-header h2{
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    color: white;
    background: #2c3f62;
}


.non-map-body-white{
    position: relative;
    left: 0%;
    background: white;
    color: #2c3f62;
    min-height: 96%;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    margin-top: 0em;
    margin-bottom: 0.5em;
    overflow: scroll;
}

.non-map-content {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 18px;
    background: white;
    color: #2c3f62;
}


/* Display all extra record info on new line */
.record-extra p {
    clear: both;
    font-size: 15pt;
}

.record-extra img{
    width: 100%;
}

#map-record-popup {
    height: 100%;
}

#map-record-popup-popup{
    top: 0px !important;
    left: 0px !important ;
    z-index: 10000 !important;
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
}

#annotation-title{
    background-image: none;
    width: 100%;
    padding-top: 0.4em !important; 
    padding-right: 0px !important; 
    padding-left: 0px !important;
    padding-bottom: 0.6em !important; 
    margin-left: 0px !important;
    text-align: center !important;
}

/* Margin to offset from header */
#map-record-popup-text{
    margin-top: 43px;   
}

#map-record-popup-text img{
    width : 100%;
}

#map-record-popup {
    padding : 0em;
}

#audio-icon {
    width:100%;
}

#annotate-gps-colour-pick-container > div{
    width: 153%;
}

#annotate-gps-label{
    display:block;
    font-size: 16px;
}

#annotate-gps-form p, #fieldcontain-text-1 p{
    display: inline;
    font-size: 16px;    
}

#fieldcontain-text-1, #annotate-gps-form div{
    margin-top: 12px;
    margin-bottom: 12px;   
}
.ui-disabled {
    opacity:0.4;
}

.offscreen{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
